{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage"
            }
        ],
        "@babel/preset-react",
        "@emotion/babel-preset-css-prop"
    ],
    "plugins": ["react-hot-loader/babel"]
}
